*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



input,textarea{
    margin-left: 5px;
    padding: 5px;
    
}

.form-container{
    margin-top: 50px;
}

div{
    margin-top: 10px;
    text-align: center;
}


button{
    padding: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 8px;
}